<!-- framework7 component template -->
<template>
   <div class="popup">
      <div class="view">
         <div class="page" data-name="formio">
            <div class="navbar" style="position: relative">
               <div class="navbar-bg bg-color-blue"></div>
               <div class="navbar-inner sliding">
                  <div class="title text-color-white">Inbox Items</div>
                  <div class="right">
                     <a href="#" class="link back text-color-white"> Done </a>
                  </div>
               </div>
            </div>
            <div class="toolbar toolbar-bottom">
               <div class="toolbar-inner" style="padding: 0">
                  <p class="segmented segmented-raised swipe-pagination"></p>
               </div>
            </div>
            <div>
               <!-- Slider container -->
               <div class="swiper-container">
                  <!-- Slides wrapper -->
                  <div class="swiper-wrapper">
                     <!-- Slides -->
                     {{#each items}}
                     <div
                        class="swiper-slide"
                        data-task-uuid="{{uuid}}"
                        data-cy="{{uuid}}"
                     >
                        <iframe
                           class="iframes"
                           data-cy="iframe-{{@index}}"
                           id="formio-form-iframe-{{@index}}"
                           data-current-index="{{@index}}"
                           style="width: 100%; border: none"
                           height="600px"
                        ></iframe>
                     </div>
                     {{/each}}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>

<!-- framework7 component script -->
<script>
   const children = [];
   const cachedState = {
      items: [],
   };

   /**
    * Create the form components for inbox items matching
    * the given process id
    * @param {object[]} inboxItems all of the user's inbox item
    * @param {string} definition id of the process definition
    * @returns
    **/
   const getFormsForDefinition = (inboxItems = [], definition) => {
      const itemForms = [];
      inboxItems
         .filter((item) => item.definition === definition)
         .forEach((item) => {
            itemForms.push({
               uuid: item.uuid,
               // form: JSON.stringify({
               //    type: "json",
               //    formio: true,
               //    components: item.ui.components,
               //    values: item.data,
               // }),
               form: {
                  type: "json",
                  formio: true,
                  components: item.ui.components,
                  values: item.data,
               },
            });
         });
      return itemForms;
   };
   return {
      async data() {
         cachedState.items = getFormsForDefinition(
            (await this.$root.app.resources.storage.get("user", "siteUserData"))
               .inbox,
            this.$route.params.id,
         );
         return cachedState;
      },
      on: {
         popupClosed(popup) {},
         popupOpened(popup) {
            const app = this.$root.app;
            const appPage = app.pages.appPage;
            const inboxComponent = appPage.components.inbox;
            const financialApp = appPage.getApplicationByID("FINANCIAL"); // we are including this because it has a good process for fetching images
            const activeIframes = [];
            const $app = this.$app;
            const b = () => {
               //Set curIndex default 0
               initSlideFrame(0);
            };
            const initSlideFrame = (curIndex) => {
               if (activeIframes.indexOf(curIndex) === -1) {
                  const f = document.getElementById(
                     `formio-form-iframe-${curIndex}`,
                  );
                  if (f == null || typeof window.seamless === undefined)
                     return setTimeout(b, 100);
                  const child = window.seamless(f, {
                     fallback: true,
                  });

                  // add this to list of iframes we are using
                  children[curIndex] = child;
                  child.receive((d, e) => {
                     const event = d.task || null;
                     if (event == null) return false;
                     if (
                        d.task.type === "button" &&
                        d.task.action === "event"
                     ) {
                        (async () => {
                           const busy = app.resources.busy;
                           busy.show("Processing...");
                           try {
                              const result =
                                 await inboxComponent.requestProcessInbox(
                                    $(".swiper-slide-active")[0].dataset
                                       .taskUuid,
                                    event.event,
                                 );
                              cachedState.items = cachedState.items.filter(
                                 (item) => item.uuid != result.taskUUID,
                              );
                              $app.toast
                                 .create({
                                    icon: '<i class="fa-2x fas fa-star"></i>',
                                    text: "<t>Item Saved</t>",
                                    position: "center",
                                 })
                                 .open();
                              const swiper =
                                 document.querySelector(
                                    ".swiper-container",
                                 ).swiper;
                              swiper.removeSlide(swiper.realIndex);
                              busy.hide();
                              if (swiper.slides.length !== 0) return;
                              $app.popup.close();
                           } catch (err) {
                              console.error(err);
                              $app.toast
                                 .create({
                                    text: "<t>Processing error!</t>",
                                    position: "center",
                                 })
                                 .open();
                              busy.hide();
                           }
                        })();
                     }
                     // go get images either stored locally already or download now
                     else if (d.task.type === "image")
                        financialApp.getReceiptsImages([d.task.image]);
                  });

                  // load the source of the iframe in order to delay the image loading
                  f.src = "./js/formio/viewer/index.html?iframe=1&header=0";
                  const iframeReady = () => {
                     let index = curIndex;
                     let item = cachedState.items[index];
                     if (item == null) {
                        index = 0;
                        item = cachedState.items[index];
                     }
                     f.contentWindow.postMessage(
                        item.form,
                        f.contentWindow.document.location.protocol +
                           "//" +
                           f.contentWindow.document.location.host +
                           "/sdc-app/www/lib/applications/inbox/templates/formio.html",
                     );
                     activeIframes.push(index);
                  };
                  if (
                     f.src ===
                        "./js/formio/viewer/index.html?iframe=1&header=0" &&
                     (f.contentDocument.readyState === "interactive" ||
                        f.contentDocument.readyState === "complete")
                  ) {
                     iframeReady();
                  } else {
                     f.addEventListener("load", iframeReady);
                  }
               }
            };
            const initSlide = (curIndex) => {
               ((d, w, u) => {
                  const h = d.getElementsByTagName("head")[0];
                  const s = d.createElement("script");
                  s.type = "text/javascript";
                  s.src =
                     "js/formio/viewer/lib/seamless/seamless.parent.min.js";
                  s.onload = b;
                  h.appendChild(s);
               })(document, window);
            };
            this.$setState(cachedState, () => {
               $app.swiper.create(".swiper-container", {
                  spaceBetween: 200,
                  watchSlidesVisibility: true,
                  on: {
                     init() {
                        initSlide(this.realIndex);
                     },
                     realIndexChange: () => {
                        Array.from(
                           document.getElementsByClassName(
                              "swiper-slide-visible",
                           ),
                        ).forEach((slide) => {
                           initSlideFrame(
                              slide.querySelectorAll("iframe")[0].dataset
                                 .currentIndex,
                           );
                        });
                     },
                     update: () => {
                        Array.from(
                           document.getElementsByClassName(
                              "swiper-slide-visible",
                           ),
                        ).forEach((slide) => {
                           initSlideFrame(
                              slide.querySelectorAll("iframe")[0].dataset
                                 .currentIndex,
                           );
                        });
                     },
                  },
                  zoom: true,
                  pagination: {
                     el: ".swipe-pagination",
                     type: "custom",
                     renderCustom: (swiper, current, total) => {
                        if (total === 1) {
                           $(".toolbar").hide();
                           return;
                        }

                        let start = 1;
                        let end = total;
                        if (total > 3 && current === total) {
                           end = current;
                           start = current - 2;
                        } else if (total > 3 && current !== 1) {
                           end = current + 1;
                           start = current - 1;
                        } else if (total > 3 && current === 1) {
                           end = 3;
                           start = current;
                        }

                        let html =
                           '<button class="button button-large" onclick=\'document.querySelector(".swiper-container").swiper.slideTo(0)\'><i class="fa fa-angle-double-left"></i></button>';
                        html = `${html}<button class="button button-large" onclick=\'document.querySelector(".swiper-container").swiper.slidePrev()\'><i class="fa fa-chevron-left"></i></button>`;
                        for (let i = start; i < end + 1; i++)
                           html = `${html}<button onclick='document.querySelector(".swiper-container").swiper.slideTo(${
                              i - 1
                           });' class="button button-large ${
                              i == (current && "button-active") || ""
                           }">${i}</button>`;
                        html = `${html}<button class="button button-large" onclick='document.querySelector(".swiper-container").swiper.slideNext()'><i class="fa fa-chevron-right"></i></button><button class="button button-large" onclick='document.querySelector(".swiper-container").swiper.slideTo(${
                           total - 1
                        })'><i class="fa fa-angle-double-right"></i></button>`;
                        return html;
                     },
                  },
               });
            });
            $app.router.off("photoDownloaded");
            $app.router.on("photoDownloaded", (photo) => {
               children.forEach((child) => {
                  child.send({
                     type: "photoDownloaded",
                     image: photo,
                  });
               });
            });
         },
      },
   };
</script>
