<style>
   .blink {
      animation: blinkenlights 2s infinite;
   }

   /* Opacity may cause ios crashes */
   @keyframes blinkenlights {
      from {
         opacity: 100%;
      }

      50% {
         opacity: 20%;
      }

      to {
         opacity: 100%;
      }
   }

   #relay-error-count {
      margin: 0 auto;
      width: 3em;
      color: red;
      text-align: center;
      font-size: 0.9em;
      position: absolute;
      left: 42%;
      display: none;
   }
</style>

<!-- framework7 component template -->
<template>
   <div class="page">
      <div class="navbar theme-dark">
         <div class="navbar-inner sliding">
            <div class="left">
               <a
                  data-cy="inbox"
                  data-view=".view-main"
                  class="panel-close link icon-only color-white"
                  href="/inbox/"
               >
                  <i class="icon fa fa-envelope" style="font-size: 22px">
                     <!-- 
                              loading - loads slower than the rest of the page
                              no items
                              yes items
                     -->
                     {{#if loadingInbox}}<span
                        data-cy="loadingInbox"
                        class="badge color-grey skeleton-effect-fade"
                     ></span>
                     {{else}} {{#js_if "this.inboxBadge > 0"}}<span
                        data-cy="inboxBadge"
                        class="badge color-red"
                        >{{inboxBadge}}</span
                     >{{/js_if}} {{/if}}
                  </i>
               </a>
            </div>
            <div class="title">conneXted</div>
            <div class="right">
               <a
                  data-cy="lock"
                  class="link icon-only color-white"
                  href="/nav/lock/"
               >
                  <i class="fa fa-lock"></i>
               </a>
            </div>
         </div>
      </div>
      <div class="page-content">
         <div class="row no-gap" style="justify-content: center">
            <a
               href="/welcome/"
               data-cy="welcome"
               data-view=".view-main"
               class="panel-close item-link item-content emphasis color-white"
               style="flex: 1; text-align: center; padding: 5px"
            >
               <i class="icon fa fa-home" style="font-size: 22px"></i>
            </a>
            <a
               href="/settings/"
               data-cy="settings"
               data-view=".view-main"
               class="panel-close item-link item-content emphasis color-white"
               style="
                  flex: 1;
                  text-align: center;
                  border-left-width: 1px;
                  padding: 5px;
               "
            >
               <i class="icon fa fa-cog" style="font-size: 22px"></i>
            </a>
         </div>
         {{#js_if "this.loading"}}
         <div class="demo-card-header-pic">
            <div
               style="background-image: url(img/profile_bg.png)"
               valign="bottom"
               class="profile_container"
            >
               <a
                  href="#"
                  data-view=".view-main"
                  class="panel-close text-color-white"
               >
                  <div
                     class="avatar skeleton-text skeleton-effect-fade"
                     style="background: #ccc"
                  >
                     XX
                  </div>
                  <span
                     data-cy="username-loading"
                     class="username skeleton-text skeleton-effect-fade"
                     >XXXXX XXXXXXX</span
                  ><br />
                  <small>
                     <i class="icon fas fa-fw fa-cog"></i>
                     <t>view profile</t>
                  </small>
               </a>
            </div>
         </div>
         {{else}}
         <div class="demo-card-header-pic">
            <div
               style="background-image: url(img/profile_bg.png)"
               valign="bottom"
               class="profile_container"
            >
               <a
                  href="/profile/"
                  data-cy="profile"
                  data-view=".view-main"
                  class="panel-close text-color-white"
                  style="display: block"
               >
                  {{#js_if "this.userProfile?.Gender != null"}}
                  <div
                     class="avatar color-{{this.userProfile.Gender}}"
                  ></div>
                  {{else}}
                  <div class="avatar color-blue"></div>
                  {{/js_if}}
                  <!-- prettier-ignore -->
                  <span class="username">{{print userProfile "Preferred Name"}} {{print userProfile "Surname"}}</span>
                  <br />
                  <small>
                     <i class="icon fas fa-fw fa-cog"></i>
                     <t>view profile</t>
                  </small>
               </a>
            </div>
         </div>
         {{/js_if}}
         <div style="min-height: 20px">
            <div
               style="
                  position: absolute;
                  text-align: center;
                  width: 100%;
                  z-index: 1;
               "
            >
               <span
                  >{{#js_if "this.progressPercentage < 100"}}Loading Data...
                  ({{progressPercentage}}%){{else}}Loading
                  Complete!{{/js_if}}</span
               >
            </div>
            <div
               class="progressbar"
               data-progress="{{progressPercentage}}"
               style="min-height: 20px; width: 100%; z-index: 0"
            ></div>
         </div>
         <div class="list" style="margin: 0">
            <ul>
               {{#if enabledApps.financial}}
               <li key="navFinancial" class="swipeout">
                  <a
                     href="/financial/ministry/"
                     data-cy="ministry"
                     data-view=".view-left"
                     class="item-link item-content emphasis {{#if loadingFinancial}}text-color-grey disabled{{else}}text-color-green{{/if}}"
                     data-cy="financial{{#if loadingFinancial}}-disabled{{/if}}"
                  >
                     <div
                        class="item-inner {{#if loadingFinancial}}blink skeleton-effect-fade{{/if}}"
                     >
                        <div class="item-title">
                           <span translate="1" class="text-color-white"
                              >ministry</span
                           >
                           <t>finances</t>
                        </div>
                     </div>
                  </a>
               </li>
               {{/if}} {{/if}}
            </ul>
         </div>
         <a
            href="/feedback/"
            data-cy="feedback"
            data-view=".view-main"
            id="send-feedback"
            class="panel-close link button button-fill bg-color-gray text-color-white"
            style="border-radius: 0; position: absolute; bottom: 0; width: 100%"
         >
            <i class="fas fa-comment"></i>
            <t>Submit Feedback</t>
         </a>
      </div>
   </div>
</template>

<!-- framework7 component script -->
<script>
   const KEY_UPDATING_CALLBACK = "component.nav";
   const PERCENT_FACTOR = 100;
   const cachedState = {
      enabledApps: {
         // The reason for this variable is to hide that the website
         // has a financial section if a valid QR code was NOT scanned
         financial: false,
      },
      loading: true,
      loadingInbox: true,

      // If we know there was a valid QR, then we can use `loadingFinancial` to
      // tell the user that the financial section is loading
      loadingFinancial: true,
      inboxBadge: 0,
      progressPercentage: 0,
      userProfile: null,
   };
   const refreshPage = async (self) => {
      const app = self.$root.app;
      const resources = app.resources;
      const userData = resources.account.userData;

      // Get our datacollection(s) so we can set up listeners later
      const profileComponent = app.pages.appPage.components.profile;
      const enabledApps = cachedState.enabledApps;

      // check if the user is logged in
      if (userData?.user.username == null) {
         // user is logged in
         enabledApps.financial = false;
         cachedState.loadingInbox = true;
         cachedState.inboxBadge = 0;
         cachedState.loading = true;
         cachedState.loadingFinancial = true;
         cachedState.loadingInbox = true;
         cachedState.progressPercentage = 0;
      } else {
         enabledApps.financial = true;
         cachedState.loadingInbox = true;
         cachedState.inboxBadge = userData.inbox.length ?? 0;
         cachedState.loadingInbox = false;
         profileComponent.loadProfileData();
         if ((cachedState.userProfile = profileComponent.userProfile) == null) {
            cachedState.loading = true;
            cachedState.loadingFinancial = true;
         } else {
            cachedState.loading = false;
            if (cachedState.progressPercentage === PERCENT_FACTOR)
               cachedState.loadingFinancial = false;
            else cachedState.loadingFinancial = true;
         }
      }
      self.$setState(cachedState);
   };
   return {
      async data() {
         return cachedState;
      },
      on: {
         async pageInit() {
            const app = this.$root.app;
            const appPage = app.pages.appPage;

            // Get our datacollection(s) so we can set up listeners later
            const profileComponent = appPage.components.profile;
            appPage.setUpdatingCallback(
               KEY_UPDATING_CALLBACK,
               async ({ doneAmount, length, status }) => {
                  if (status === "init.dc" && doneAmount === length)
                     appPage.setUpdatingCallback(KEY_UPDATING_CALLBACK, () => {
                        refreshPage(this);
                     });
                  cachedState.progressPercentage = Math.floor(
                     (doneAmount * PERCENT_FACTOR) / length,
                  );
                  refreshPage(this);
               },
            );
         },
         pageBeforeRemove() {
            this.$root.app.pages.appPage.removeUpdatingCallback(
               KEY_UPDATING_CALLBACK,
            );
         },
      },
   };
</script>
