<!-- Framework7 component template -->
<template>
   <div class="page" id="settings-component">
      <div class="navbar">
         <div class="navbar-bg"></div>
         <div class="navbar-inner">
            <div class="left">
               <a
                  href="#"
                  class="link icon-only panel-open"
                  data-panel="left"
                  data-cy="left"
               >
                  <i class="fa fa-bars"></i>
               </a>
            </div>
            <div class="sliding title">
               <t>Settings</t>
            </div>
         </div>
      </div>

      <div
         class="page-content ptr-content"
         ptr-data-ptr-distance="55"
         ptr-data-ptr-mousewheel="true"
      >
         <!-- Default pull to refresh preloader-->
         <div class="ptr-preloader">
            <div class="preloader"></div>
            <div class="ptr-arrow"></div>
         </div>

         <div class="block-title"></div>

         <div class="card">
            <div class="card-header bg-color-gray text-color-white">Camera</div>
            <div class="card-content card-content-padding">
               <button
                  id="test-camera"
                  class="button button-large button-outline"
               >
                  <i class="fa fa-camera"></i>
                  Testing
               </button>
               <img
                  id="test-camera-result"
                  style="
                     max-width: 5em;
                     max-height: 5em;
                     display: block;
                     margin: 1em auto;
                  "
               />
            </div>
         </div>

         <div class="card settings-update-card" id="update-progress">
            <div
               class="card-header bg-color-gray text-color-white"
               translate="1"
            >
               An update is in progress...
            </div>
            <div class="card-footer">
               <div class="progressbar" data-progress="1"></div>
            </div>
         </div>

         <div class="card settings-update-card" id="update-installing">
            <div
               class="card-header bg-color-gray text-color-white"
               translate="1"
            >
               Installing...
            </div>
            <div class="card-footer">
               <div class="progressbar-infinite"></div>
            </div>
         </div>

         <div class="card settings-update-card" id="update-ready">
            <div
               class="card-header bg-color-gray text-color-white"
               translate="1"
            >
               Update Ready
            </div>
            <div class="card-content card-content-padding" translate="1">
               An update is ready and will take effect when you restart the app.
            </div>
            <div class="card-footer">
               <button
                  id="restart-app"
                  class="button button-large button-outline color-purple"
                  translate="1"
               >
                  Restart
               </button>
            </div>
         </div>

         <div class="card" id="update-info">
            <div
               class="card-header bg-color-gray text-color-white"
               translate="1"
            >
               App Info
            </div>
            <div class="card-content card-content-padding">
               <!-- update info gets inserted here -->
               <!-- see update-info.html -->
               <div class="list list-strong-ios">
                  <ul>
                     <li>
                        <div class="item-content">
                           <div class="item-inner">
                              <div class="item-title" translate>App Icon</div>
                           </div>
                        </div>
                        <ul>
                           <li>
                              <a
                                 class="item-link item-content edit-customization"
                              >
                                 <div class="item-media">
                                    <img src="{{appIconSrc}}" />
                                 </div>
                                 <div class="item-inner">
                                    <div class="item-title">{{appName}}</div>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         {{#if hasAuthToken}}
         <div class="card" id="sync-data">
            <div
               class="card-header bg-color-gray text-color-white"
               translate="1"
            >
               Update profile and application data
            </div>
            <div class="card-content card-content-padding">
               <t
                  >Tap below to fetch your current HRIS data and refresh
                  application data.</t
               ><br />
               <br />
               <label class="checkbox color-purple" style="line-height: 23px"
                  ><input id="updateOnLoginCheckbox" type="checkbox" /><i
                     class="icon-checkbox"
                     style="float: left; margin-right: 10px"
                  ></i>
                  <t>Update data each time I log into the app.</t>
               </label>
               <br />
               <br />
               <button
                  id="sync-with-server"
                  class="button button-large button-outline color-purple"
               >
                  <i class="fa fa-sync"></i>
                  <t>Update Now</t>
               </button>
            </div>
         </div>
         {{/if}} {{#if hasAuthToken}}
         <div class="card" id="sync-data">
            <div
               class="card-header bg-color-gray text-color-white"
               translate="1"
            >
               Clear Local Data
            </div>
            <div class="card-content card-content-padding">
               <t
                  >Tap below to remove all locally stored data, except the
                  authToken.</t
               ><br />
               <br />
               <button
                  id="reset-get-server"
                  data-cy="reset-get-server"
                  class="button button-large button-outline color-purple"
               >
                  <i class="fa fa-sync"></i>
                  <t>Clear Now</t>
               </button>
            </div>
         </div>
         {{/if}}

         <div class="card">
            <!-- This feature is for testing: remove before release -->
            <!-- TODO disable this field before release -->
            <div
               class="card-header bg-color-gray text-color-white"
               translate="1"
            >
               Enter JRR code manually
            </div>
            <div class="card-content card-content-padding">
               <input
                  type="text"
                  label="Raw JRR Token"
                  id="rawjrrtoken"
                  placeholder="..."
                  style="min-width: 150px; width: 100%; font-size: 20px"
               />
               <button
                  id="codeSubmit"
                  class="button button-large button-outline color-purple"
               >
                  login
               </button>
            </div>
         </div>

         <div class="card" id="document-manager">
            <div
               class="card-header bg-color-gray text-color-white"
               translate="1"
            >
               Local Documents
            </div>
            <div class="card-content card-content-padding">
               <div class="list media-list">
                  <ul>
                     <li>
                        <div class="item-content">
                           <div class="item-inner">
                              <div class="item-title-row">
                                 <div class="item-title" translate>
                                    Storage Space
                                 </div>
                                 <div class="item-after">
                                    {{totalStorage}}&nbsp;<t>MB</t>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <br />
               <button
                  id="delete-documents"
                  class="button button-large button-outline color-red"
               >
                  <i class="fa fa-trash"></i>
                  <t>Remove from device</t>
               </button>
            </div>
         </div>
         <div class="card" id="vpn-data">
            <!-- see vpn-data.html -->
         </div>
      </div>

      <!-- Modal to edit app icon/name -->
      <div
         class="sheet-modal modal-cusomization"
         data-close-on-escape="true"
         data-swipe-to-close="true"
         style="
            height: auto;
            --f7-sheet-bg-color: #fff;
            border-radius: 15px 15px 0 0;
         "
      >
         <div class="sheet-modal-inner">
            <div class="page-content">
               <div
                  class="block-title"
                  style="
                     --f7-block-title-font-size: 18px;
                     --f7-block-title-text-color: #000;
                  "
                  translate
               >
                  Customize Icon
               </div>
               <div class="list">
                  <ul>
                     <li class="item-content item-input inline-labels">
                        <div class="item-media">
                           <i class="fa fa-font"></i>
                        </div>
                        <div class="item-inner">
                           <div class="item-input-wrap">
                              <input
                                 type="text"
                                 id="app-name"
                                 placeholder="App name"
                                 value="{{appName}}"
                              />
                           </div>
                        </div>
                     </li>
                     <li class="item-content inline-labels">
                        <div class="item-media">
                           <i class="fa fa-icons"></i>
                        </div>
                        <div class="item-inner">
                           <div class="row">
                              {{#each iconOptions}}
                              <button
                                 class="col button button-large{{#if selected}} button-outline color-gray{{/if}}"
                                 style="width: 51px"
                                 name="{{name}}"
                                 data-icon-name="{{name}}"
                                 @click="setIcon"
                              >
                                 <div style="padding-top: 6.5px">
                                    <img src="{{src}}" />
                                 </div>
                              </button>
                              {{/each}}
                           </div>
                        </div>
                     </li>
                  </ul>
                  <div class="block-footer">
                     <p>
                        *icons by
                        <a
                           target="_blank"
                           class="link external"
                           href="https://icons8.com"
                           style="
                              color: var(--f7-block-footer-text-color);
                              text-decoration: underline;
                           "
                           >Icons8</a
                        >
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>

<!-- Framework7 component script -->
<script>
   /**
    * The Settings page presents a view of several of the app's inner systems.
    * These systems are active right from the time the app is launched.
    * This page is only active when the user navigates to it. In contrast,
    * the settings component object is instantiated once at the start of the
    * app, and persists between multiple visits in and out of this page.
    *
    * Things on this page that may be affected by events that occur while
    * the page is not active should be handled with the help of the settings
    * component object rather than purely here on this page's script.
    */
   return {
      data() {
         return {
            hasAuthToken: Boolean(this.$root.app.resources.account.authToken),
            totalStorage: 0,
            iconOptions: [],
            appName: localStorage.getItem("name") ?? "conneXted",
            appIconSrc: "icons/32.png",
         };
      },
      methods: {
         setIcon(e) {
            const selectedIcon = e.currentTarget.getAttribute("data-icon-name");

            // Save to local storage.
            localStorage.setItem("icon", selectedIcon);

            // Update F7 UI.
            this.iconOptions.forEach((o) => {
               if (o.name == selectedIcon) {
                  o.selected = true;
                  this.appIconSrc = o.src;
               } else o.selected = false;
            });
            this.$update();
         },
      },
      on: {
         pageBeforeIn() {
            this.$(".view-main .navbar").attr(
               "class",
               "navbar bg-color-purple text-color-white color-theme-white"
            );
            this.$(".view-main .navbar-bg").attr(
               "class",
               "navbar-bg bg-color-purple"
            );
         },

         async pageInit() {
            const data = await (await fetch("/icons/list")).json();
            const selectedOpt =
               data.find((o) => o.name == localStorage.getItem("icon")) ||
               data.find((o) => o.name == "default");
            selectedOpt.selected = true;
            this.$setState({
               iconOptions: data,
               appIconSrc: selectedOpt.src,
            });
            this.$setState({
               // TODO: Logic for the local storage size.
               totalStorage: Number(0).toFixed(2),
            });
            $("#test-camera").on("click", async () => {
               try {
                  const photo =
                     await this.$root.app.resources.camera.getCameraPhoto();
                  // Scan photo for QR code.
                  $("#test-camera-result").attr("src", photo.url);
               } catch (err) {
                  console.error(err);
               }
            });

            // Input a JRR token manually.
            $("#codeSubmit").on("click", async () => {
               // Plug it into the app.
               this.$app.toast
                  .create({
                     text: "<t>Code inputting...</t>",
                     position: "center",
                  })
                  .open();
               try {
                  await this.$root.app.pages.appPage.updateAccount(
                     // Get the code (JRR) from the form.
                     $("#rawjrrtoken").get(0).value,
                     "admin"
                  );
                  this.$app.toast
                     .create({
                        text: "<t>Credentials imported successfully</t>",
                        position: "center",
                     })
                     .open();
                  this.$root.app.pages.appPage.fetchApplicationData();
               } catch (err) {
                  this.$app.dialog
                     .alert("Something went wrong. Please try again.")
                     .open();
                  console.error(err);
               }
            });

            // When custom settings is checked reveal or hide advanced settings.
            $("#customServerCheckbox").on("change", () => {
               if (
                  // Is custom enabled?
                  $("#customServerCheckbox").prop("checked")
               )
                  $("#customServerSettings").show();
               else $("#customServerSettings").hide();

               // If debugging is already enabled auto fire the start operation to enable the new settings.
               if ($("#btnDisableRemoteLogging").is(":visible"))
                  $("#btnEnableRemoteLogging").trigger("click");
            });

            // If debugging is enabled update the settings when custom remote debugging field is blurred
            $("#customServerSettings input[type=text]").on("blur", () => {
               if (!$("#btnDisableRemoteLogging").is(":visible")) return;
               $("#btnEnableRemoteLogging").trigger("click");
            });

            $("#restart-app").on("click", () => {});
            if (
               this.$root.app.pages.appPage.components.settingsComponent
                  .isUpdateReady
            )
               $("#update-ready").show();
            this.$root.app.pages.appPage.components.settingsComponent.renderPackageInfo();
            let syncing;

            // Sync with server
            $("#sync-with-server").on("click", () => {
               if (!navigator.onLine) {
                  this.$app.dialog.alert(
                     "<t>Make sure you are connected to the Internet before trying to update your data.</t>",
                     "<t>No Network Detected.</t>"
                  );
                  return;
               }

               const continueSync = self.$app.dialog.confirm(
                  "<t>This will fetch the latest data from the server without affecting any locally changed data. Continue?</t>",
                  "<t>Update Data</t>",
                  () => {
                     this.$root.app.pages.appPage.fetchApplicationData();
                  }
               );
            });

            // Sync with server
            $("#reset-get-server").on("click", () => {
               if (!navigator.onLine) {
                  this.$app.dialog.alert(
                     "<t>Make sure you are connected to the Internet before trying to update your data.</t>",
                     "<t>No Network Detected.</t>"
                  );
                  return;
               }

               const continueSync = self.$app.dialog.confirm(
                  "<t>This will fetch the latest data from the server, clearing all local data. Continue?</t>",
                  `<t data-cy="confirmReset" >Reset Data</t>`,
                  () => {
                     this.$root.app.pages.appPage.forceApplicationReset();
                  }
               );
            });

            // Delete local documents.
            $("#delete-documents").on("click", () => {
               this.$app.dialog.confirm(
                  "<t>This will delete all local files from your device. Continue?</t>",
                  "<t>Delete</t>",
                  async () => {
                     await this.$root.app.pages.appPage.components.settingsComponent.deleteLocalImages();
                     this.$setState({
                        // TODO: Logic for the local storage size.
                        totalStorage: Number(0).toFixed(2),
                     });
                  }
               );
            });

            if (this.$root.app.pages.appPage.authToken) {
               $("#sync-data").show();
            }
            $("#updateOnLoginCheckbox").prop(
               "checked",
               this.$root.app.pages.appPage.updateOnLogin
            );
            $("#updateOnLoginCheckbox").change(function () {
               if ($(self).is(":checked")) {
                  localStorage.setItem("updateOnLogin", "true");
                  this.$root.app.pages.appPage.updateOnLogin = true;
               } else {
                  localStorage.setItem("updateOnLogin", "false");
                  this.$root.app.pages.appPage.updateOnLogin = false;
               }
            });

            $(".edit-customization").click(() => {
               this.$app.sheet.open(".modal-cusomization");
            });

            $("#app-name").on("change", () => {
               const appName = $("#app-name").val();
               localStorage.setItem("name", appName);
               this.$setState({ appName });
            });
            this.$app.off("ptrRefresh");
            this.$app.on("ptrRefresh", () => {
               // user has pulled to refresh,
               // they may want to know the status of auth token, and whether we are fetching data
               // is network connected?
               this.$app.toast
                  .create({
                     text:
                        "Auth Token Status: " +
                        (this.$root.app.resources.account.authToken
                           ? "Valid"
                           : "Invalid") +
                        "<br>Fetching Data: " +
                        (syncing ? "Yes" : "No") +
                        "<br>Network: " +
                        (navigator.onLine ? "Connected" : "Disconnected"),
                     position: "center",
                     closeTimeout: 2000,
                  })
                  .open();
               // they may want to clear a render issue, refresh the page
               this.$app.router.refreshPage();
               this.$app.ptr.get(".ptr-content").done();
            });
         },
      },
   };
</script>
